@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root{
    --primary-color: rgb(15, 6, 6);
    --secondary-color: rgb(230, 224, 224)

}
*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel Decorative", serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 1;
    padding: 30px;

}
header > img {
    height: 35px;
}

h1{
    font-size: 40px;
}
a{
    text-decoration: none;
}

header > nav > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    justify-content:start;
    align-items: center;
    list-style: none;
    font-weight: 600;
  
}

main section h2{
    margin-top: 40px;
    font-size: 35px;
    padding: 30px;
   border-top: 3px double var(--secondary-color);
}

#articulo > img{
    display: flex;
    flex-wrap: wrap;
   flex-grow: 1;
    max-width: 80%;
    margin-right: 40px;
}

#articulo{
    display: flex;
    align-items:start;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 40px;
    flex-grow: 1;
    padding: 30px;
}
 #articulo p{
    max-width: 90%;
    text-align: justify;
    font-size: 25px;

 }